<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722341883692-ocls6c51su5r8rt4pnf71tq5nkedoq1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722341883692-ocls6c51su5r8rt4pnf71tq5nkedoq1m</string>
	<key>API_KEY</key>
	<string>AIzaSyBrfwmgHuCaImhuPsDnRye5PogYtlUP6jo</string>
	<key>GCM_SENDER_ID</key>
	<string>722341883692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.platziTrips</string>
	<key>PROJECT_ID</key>
	<string>platzitrips-f8eb6</string>
	<key>STORAGE_BUCKET</key>
	<string>platzitrips-f8eb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722341883692:ios:4f64723a2b99c5bc9ec689</string>
</dict>
</plist>